body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.menu {
    width: 100%;
    display: flex;
    height: 60px;
    background-color: rgba(35, 44, 58, 0.9);
    color: #fff;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    font-size: 24px;
}

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 4% auto;
    max-height: 60vh;
    max-width: 60vh;
}

.gameboard__color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.bg-blue {
    background: #22a6b3;
}

.bg-blue--light {
    background: #7ed6df;
}

.bg-violet {
    background: #be2edd;
}

.bg-violet--light {
    background: #e056fd;
}

.bg-orange {
    background: #f0932b;
}

.bg-orange--light {
    background: #ffbe76;
}

.bg-green {
    background: #6ab04c;
}

.bg-green--light {
    background: #badc58;
}

.start-game {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;

}

.hide {
    display: none;
}
